@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: rgb(109,40,210);
    --color-secondary: rgb(254,255,254);
    --color-text: rgb(255, 255, 255);
  }
}

.theme-dark {
  --color-secondary: rgb(18, 19, 18);
}

.theme-light {
  --color-secondary: rgb(254,255,254);
}